{
  "env": {
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 6
  },

  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": 2,
    "comma-spacing": 2,
    "no-shadow": 1,
    "no-unused-vars": 1,
    "no-use-before-define": [2, "nofunc"],

    "no-underscore-dangle": 0,
    "quotes": 0,
    "strict": 0
  }
}
